name: Deploy new version

# Only deploy when a new tag is pushed
on: [push, pull_request]
          
# Must match the project() name in CMakeLists.txt
env:
    APP_NAME: Telemetrix4RpiPico
    
# Allow this workflow to write back to the repository
permissions:
    contents: write
    
# Build binary and send to releases
jobs:
    build-deploy:
        runs-on: ubuntu-latest
        name: Build and deploy
        container: ghcr.io/arendjan/pico_docker_image:main
        steps:
          - uses: actions/checkout@main
          - name: build
            run: |
              chmod +x build.sh
              ./build.sh
          - name: Copy uf2 file
            run: cp ./build2/Telemetrix4RpiPico.uf2 ./
          - name: Put environment variable into the env context
            run: echo "app_name=$APP_NAME" >> $GITHUB_ENV
          - name: Archive production artifacts
            uses: actions/upload-artifact@v4
            with:
              name: dist
              path: |
                Telemetrix4RpiPico.uf2
            
          - name: Push to release
            uses: softprops/action-gh-release@v1
            if: startsWith(github.ref, 'refs/tags/')
            with:
                files: Telemetrix4RpiPico.uf2